gitpython==3.1.25
hjson==3.0.2
pyyaml==6.0
sphinx==4.3.2
yamlfmt==1.1.0
mako==1.1.6
jsonref==0.2

# Development version with OT-specific changes
git+https://github.com/davideschiavone/fusesoc.git@ot#egg=fusesoc >= 1.11.0

# Install edalize by hand as pip install git+https://github.com/davideschiavone/edalize.git
git+https://github.com/davideschiavone/edalize.git
