# SPDX-License-Identifier: GPL-2.0-or-later

#
# Config for using RaspberryPi's expansion header
#
# This is best used with a fast enough buffer but also
# is suitable for direct connection if the target voltage
# matches RPi's 3.3V
#
# Do not forget the GND connection, pin 6 of the expansion header.
#

adapter driver sysfsgpio
transport select jtag

bindto 0.0.0.0

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x10001c05

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0x000
echo "Target created"

riscv set_reset_timeout_sec 2000
riscv set_command_timeout_sec 2000
# riscv set_prefer_sba off

echo "Setting preferences"

# Each of the JTAG lines need a gpio number set: tck tms tdi tdo
# Header pin numbers: 23 22 19 21
sysfsgpio jtag_nums 964 961 963 962

# Each of the SWD lines need a gpio number set: swclk swdio
# Header pin numbers: 23 22
# sysfsgpio swd_nums 11 25

# If you define trst or srst, use appropriate reset_config
# Header pin numbers: TRST - 26, SRST - 18

sysfsgpio trst_num 960
reset_config trst_only

# sysfsgpio srst_num 24
# reset_config srst_only srst_push_pull

# or if you have both connected,
# reset_config trst_and_srst srst_push_pull

scan_chain

init

echo "Init routine started"

halt
echo "Ready for connections"
